@import 'basic';
@import 'btns';
@import 'cards';

.page-title {
    font-family: 'PT Serif', serif;
    margin: 50px;
}

.content {
    height: 77vh;
    margin: 30px;
    padding-right: 15px;
}

.separation {
    margin: 20px 0;

    p {
        font-size: .8em;
    }

    .line {
        height: 1px;
    }

    &.week {
        p {
            color: #FFD600;
        }

        .line {
            background:#FFD600; 
        }
    }
}