// STYLES ///////////////////////////////
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
}

a {
    color: #000;
    &:hover {
        color: #000;
    }
    
    &.link {
        text-decoration: underline;
    }
}

img {
    object-fit: cover;
}

p {
    margin: 0;
}

button.go-back {
    color: #000;
    border: none;
    background: none;
}

.load-btn {
    max-width: 1500px;
    margin: 0 auto;
}