
label {
    margin: 0;
}

.content {
    height: 80vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

    // CARD
    .card {
        display: inline-flex;
        width: 288px;
        height: 268px;
        border: none;
        margin-right: 3px;

        .fa-bookmark,
        .fa-ellipsis-h {
            font-size: .5rem;
            color: #BFBFBF;
            margin: 7px;
        }

        .card-inner {
            background: url(../../items/img/events/sum-festival.jpg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border: 3px solid #FEFEFE;
            box-shadow: 0px 0.3px 1px rgba(0, 0, 0, 0.25);
            width: 288px;
            height: 238px;
            display: flex;
            align-items: flex-end !important;

            .card-desc,
            .event-maker,
            p,
            .fa-dollar-sign {
                display: none;
            }

            &:hover {
                
                .card-desc {
                    display: block;
                    width: 100%;
                    height: auto;
                    background: rgba(0, 0, 0, 0.6);
                }

                .event-maker {
                    display: block;
                    width: 14px;
                    height: 14px;
                    margin: auto 14px;
                }

                .event-info {
                    margin: 4px 0;
                }

                .name {
                    display: block;
                    font-size: 0.6rem;
                    color: #C9C9C9;
                    font-weight: 600;
                }

                .date {
                    display: block;
                    font-size: 8px;
                    color: #B0B0B0;
                    font-weight: 500;
                }

                .fa-dollar-sign {
                    display: block;
                    font-size: 0.6rem;
                    color: #565656;
                    margin: auto;
                }
            }


        }
    }
    // CARD END

    .card.saved {
        .fa-bookmark {
            color: #FFD53E !important;
        }
    }

}