// STYLES ///////////////////////////////
body {
    margin: 0;
    background: #131517 !important;
    color: #fff !important;
    font-family: 'Open Sans', sans-serif !important;
}

ul {
    padding-inline-start: 0;
}

img {
    vertical-align: baseline !important;
}

a {
    color: #ffffff;

    &:hover, &:focus {
        color: #ffffff;
    }
}

// ELEMENT STYLES /////////////////////
.brand-name {
    font-family: 'PT Serif', serif;
    font-size: .8em;
    font-weight: bold;
    color: #494545;

    &:hover {
        color: #ffffff;
    }
}

.main {
    margin: auto;
    margin-top: 60px;
}

// NAME TITLE --------------------------
// .name-title {   
//     font-family: Noto Sans;
//     font-size: 0.85rem;
// }

.user-name {
    color: #494545;
    font-weight: bold;
    // font-style: italic;
}

.dropdown-menu {
    font-size: .8rem !important;
    font-style: normal;
}

.dropdown-toggle {
    font-size: 0.85rem !important;
    color: #FFFFFF !important;
    font-style: normal;

    &::after {
        vertical-align: .155em !important;
    }
}

// MAIN ================================
.menu__icon {
    width: .5rem;
    height: auto;
}
// LEFT MENU ----------------------------
.menu__item {
    list-style: none;
    margin: 10px 0;
}

.menu__link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 300 !important;
    
    &:hover {
        color: #FFFFFF;
    }
}
